  *  {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --primary:  #ff6565;
    --text-color:#fff;
    --subtext-color:#ccc;
    --font-main:'Arial' ,sans-serf;
}
        
        body {
            font-family: var(--font-main);
            color: var(--text-color);

        }
        .hero {
            background: url('images/headphones_hero_1.jpg')no-repeat center center/cover;
            height: 100vh;
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 1rem;
        }
        .nav {
            position:absolute;
            top: 20px;
            right: 50px;
            color: white;
            cursor: pointer;
        }
        .nav a {
            color: white;
        }
        
        .nav a:hover {
            color: #ff6565;

        }
        .nav b {
            color: white;
        }
        .nav b:hover {
         color: #ff6565;
        }
        .nav c {
        color: white;
        }
        .nav c:hover {
        color: #ff6565;
        }
        .nav ul {
            list-style:none;
            display: flex;
            gap: 20px;
        }
        .logo {
            width: 150px;
            position: absolute;
            top:20px;
            left:150px;
        }
        .logo {
            display: block;
             margin: 0 auto;
             vertical-align:auto;
        }

        .hero-text h1 {
            font-size:1.8rem;
            margin-top: 200px;
            margin-bottom: 10px;
           

        }
        .hero-text h2 {
           font-size: 1rem;
           font-weight: lighter;
           
        }
        .cta {
            background: var(--primary);
            border: none;
            color: #fff;
            font-size: 1rem;
            background-color: #ff6565;
            cursor:pointer;
            padding: 1rem 1.5rem;
            margin: 1rem;
            border-radius: 29px;
            margin-top: 40px;
            margin-bottom: 48px;
        }
        .cta:hover {
            opacity: 0.9;
        }
        .hero-subtext {
            max-width: 700px;
            font-size: 1rem;
            color: var(--subtext-color);
            line-height: 20px;
        }
       #what-we-do {
    padding: 100px 200px;
    background: white;  
    text-align: center;
}

      #what-we-do h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:black;
}

     #what-we-do p {
    max-width: 700px;
    margin: 0 auto 40px;
    color: #302f2f;
    line-height:1.5;
    font-weight: lighter;
}


.features {
  display: flex;
  justify-content: space-between; 
  flex-wrap: nowrap;             
  gap: 20px;                      
  padding: 20px 0;
}

.features {
  display: flex;
  justify-content: space-between; 
  flex-wrap: nowrap;              
  gap: 20px;                      
  padding: 20px 0;
}

.feature {
  max-width: 200px;      
  text-align: center;
  padding: 10px;
}
.music_icon {
    margin-bottom: 10px;

}
.movie_icon {
margin-bottom: 10px;
}
.graphic_icon {
margin-bottom: 10px;
}
.ear_icon {
margin-bottom: 10px;
}